
{% load static %}
<!doctype html>
<html>
<head>
<meta name="viewport" content="width=1280, initial-scale=1">
    <title>Your one stop destination to get laid</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
  <script

  src="https://code.jquery.com/jquery-1.12.4.js"></script>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.3.2/jspdf.plugin.autotable.js"></script>

    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
</head>

<body>

<section id="body" class="width">
    <aside id="sidebar" class="column-left">

        <header>
            <h1><a id="indexpage">PlentyofCats</a></h1>

            <p style="color:white; font-size:0.8em;margin-left:4em">Share what you want!</p>

        </header>

        <nav id="mainnav">
            <ul>
                <li ><a id="postad" >Post an AD</a></li>
                <li class="selected-item"><a id="menseekingwomen">Men seeking Women</a></li>
                <li><a id="menseekingmen">Men seeking Men</a></li>
                <li><a id="womenseekingmen">Women seeking Men</a></li>
                <li><a id="womenseekingwomen">Women seeking Women</a></li>
            </ul>
        </nav>



    </aside>
    <section id="content" class="column-right">

        <article>
            <h2 align="center">Showing latest ads for KENYA</h2>


<br><br>

                <form method="post" enctype="multipart/form-data">

                {% csrf_token %}





                     <div style="margin:0 auto;">
                        <label class="desc" id="title106" for="Field106">
                            Select your country &nbsp;&nbsp;
                        </label>
                            <select id="country" name="country" onchange="oncountrydropdownchange(this)" style="font-family: Cursive;  font-size: 20px;" class="field select medium" tabindex="11" onkeyup="filterFunction()">
                                <option value="algeria">Algeria</option>
                                <option value="angola">Angola</option>
                                <option value="botswana">Botswana</option>
                                <option value="burundi">Burundi</option>
                                <option value="cameroon">Cameroon</option>
                                <option value="congo">Congo</option>
                                <option value="ivorycoast">Ivorycoast</option>
                                <option value="egypt">Egypt</option>
                                <option value="eritrea">Eritrea</option>
                                <option value="ethiopia">Ethiopia</option>
                                <option value="nigeria">Nigeria</option>
                                <option value="ghana">Ghana</option>
                                <option value="sudan">Sudan</option>
                                <option value="southafrica">South Africa</option>
                                <option value="tanzania">Tanzania</option>
                                <option value="uganda">Uganda</option>
                                <option value="zimbabwe">Zimbabwe</option>
                                <option value="morocco">Morocco</option>
                                <option value="others">Others</option>
                                <option value="kenya">Kenya</option>

                            </select>
                    </div>






                </form>
<br>


            <div>
    <table id="demotbl" class="display" cellspacing="0" width="auto">
    <thead style="display:none;">
        <tr style="height: 50px;">
            <th>Postid</th>

            <th>Created</th>
            <th>title</th>
            <th>More</th>







        </tr>
    </thead>
</table>

</div>
<script type="text/javascript">
    var sortSelect = function (select, attr, order) {
    if(attr === 'text'){
        if(order === 'asc'){
            $(select).html($(select).children('option').sort(function (x, y) {
                return $(x).text().toUpperCase() < $(y).text().toUpperCase() ? -1 : 1;
            }));
            $(select).get(0).selectedIndex = 0;
        }// end asc
        if(order === 'desc'){
            $(select).html($(select).children('option').sort(function (y, x) {
                return $(x).text().toUpperCase() < $(y).text().toUpperCase() ? -1 : 1;
            }));
            $(select).get(0).selectedIndex = 0;
        }// end desc
    }

};

    function filterFunction() {
    var input, filter, ul, li, a, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    div = document.getElementById("myDropdown");
    a = div.getElementsByTagName("a");
    for (i = 0; i < a.length; i++) {
        if (a[i].innerHTML.toUpperCase().indexOf(filter) > -1) {
            a[i].style.display = "";
        } else {
            a[i].style.display = "none";
        }
    }
}

     $(document).ready(function () {
         var siteWidth = 1280;
var scale = screen.width /siteWidth

document.querySelector('meta[name="viewport"]').setAttribute('content', 'width='+siteWidth+', initial-scale='+scale+'');

         sortSelect('#country', 'text', 'asc')
         $.ajax({

             url: "/plentyofcats/getdatafromad",
             type: "get",
             data: {
                 "category": "msw",
                 "country": "kenya",

             },

             success: function (json) {
                 console.log(json)
                 if (json.length === 0) {
                     var data = jQuery.map(json, function (el, i) {
                         return [['--', '--', '--', '--']];
                     });


                     $('#demotbl').DataTable({
                         "searching": false,
                         "bLengthChange": false,
                         "bInfo": false,
                          "order": [[ 3, "desc" ]],
                          fixedColumns:   {
            heightMatch: 'none'
        },


                         "aaData": data,
                         "aoColumns": [
                             {"postid": "Postid"},

                             {"sTitle": "Created"},

                             {"sTitle": "Title"},


                             {
                                 "targets": -1,
                                 "data": null,
                                 "defaultContent": "<button id ='btn2' name='btn2' style='background: transparent;color: #0099CC;border: 2px solid #0099CC;border-radius: 6px;border-radius: 6px;'>Click to see post</button>"
                             }
                         ]


                     })

                 } else {


                     var data = jQuery.map(json, function (el, i) {
                       /*  if(el.title.length>20){
                             el.title = el.title.substring(0,10) + '..........';
                         }*/
                         el.created = el.created.substring(0,10);

                         return [[el.postid,el.created,el.title, 'More']];
                     });

                     $('#demotbl').DataTable({
                         "searching": false,
                         "bLengthChange": false,
                         "bInfo": false,
                          "order": [[ 3, "desc" ]],
                          fixedColumns:   {
            heightMatch: 'none'
        },



                         "aaData": data,
                         "aoColumns": [
                             {"postid": "Postid"},

                             {"sTitle": "Created"},

                             {"sTitle": "Title"},


                             {
                                 "targets": -1,
                                 "data": null,
                                 "defaultContent": "<button id ='btn2' name='btn2' style='background: transparent;color: #0099CC;border: 2px solid #0099CC;border-radius: 6px;border-radius: 6px;'>Click to see post</button>"
                             }
                         ]


                     })

                     $('#demotbl tbody').on('click', 'button#btn2', function (e) {
                         e.preventDefault();
                         console.log('selected')
                         var tr = $(this).closest('tr');
                         var rows = $('#demotbl').DataTable().row(tr);

                         var info = rows.data();
                         var dat = [info];
                         var id = info[0];


                         console.log("patientinfo", info);
                         window.open("displaypost/id/" + id, '_blank');


                     });
                 }
             }
         })

     });

         function oncountrydropdownchange(country) {
             $('h2').text('')
             var countryname = country.value;
             var countryname = countryname.toUpperCase();
             $('h2').text('Showing ads for  ' + countryname)

             var table = $('#demotbl').DataTable();
             table.destroy()

             console.log('country', country.value)

             $.ajax({

                 url: "/plentyofcats/getdatafromad",
                 type: "get",
                 data: {
                     "category": "msw",
                     "country": country.value,

                 },

                 success: function (json) {
                     console.log(json)
                     if (json.length === 0) {
                         var data = jQuery.map(json, function (el, i) {
                             return [['--', '--', '--', '--']];
                         });

                         $('#demotbl').DataTable({
                             "searching": false,
                             "bLengthChange": false,
                             "bInfo": false,
                              "order": [[ 3, "desc" ]],
                              fixedColumns:   {
            heightMatch: 'none'
        },


                             "aaData": data,
                             "aoColumns": [
                                 {"postid": "Postid"},

                                 {"sTitle": "Created"},

                                 {"sTitle": "Title"},


                                 {
                                     "targets": -1,
                                     "data": null,
                                 "defaultContent": "<button id ='btn2' name='btn2' style='background: transparent;color: #0099CC;border: 2px solid #0099CC;border-radius: 6px;border-radius: 6px;'>Click to see post</button>"
                                 }
                             ]


                         })

                     } else {


                         var data = jQuery.map(json, function (el, i) {
                             /*if(el.title.length>20) {
                                 el.title = el.title.substring(0, 10) + '..........';
                             }*/
                             el.created = el.created.substring(0,10);

                         return [[el.postid,el.created,el.title, 'More']];
                         });

                         $('#demotbl').DataTable({
                             "searching": false,
                             "bLengthChange": false,
                             "bInfo": false,
                              "order": [[ 3, "desc" ]],
                              fixedColumns:   {
            heightMatch: 'none'
        },


                             "aaData": data,
                             "aoColumns": [
                                 {"postid": "Postid"},

                                 {"sTitle": "Created"},

                                 {"sTitle": "Title"},


                                 {
                                     "targets": -1,
                                     "data": null,
                                 "defaultContent": "<button id ='btn2' name='btn2' style='background: transparent;color: #0099CC;border: 2px solid #0099CC;border-radius: 6px;border-radius: 6px;'>Click to see post</button>"
                                 }
                             ]


                         })
                     }
                 }
             })


         }

         $('#postad').click(function (e) {
             e.preventDefault()

             window.location.href="/plentyofcats/index"

         })

     $('#menseekingwomen').click(function (e) {
             e.preventDefault()

             window.location.href="/plentyofcats/menseekingwomen/"

         })

     $('#menseekingmen').click(function (e) {
             e.preventDefault()

             window.location.href="/plentyofcats/menseekingmen/"

         })

     $('#womenseekingmen').click(function (e) {
             e.preventDefault()

             window.location.href="/plentyofcats/womenseekingmen"

         })

     $('#womenseekingwomen').click(function (e) {
             e.preventDefault()

             window.location.href="/plentyofcats/womenseekingwomen"

         })

     $('#indexpage').click(function (e) {
             e.preventDefault()

             window.location.href="/plentyofcats/index"

         })

</script>




        </article>







        <footer class="clear">
            <p>&copy; 2018 PlentyofCats by Anonymous <img src="{% static 'img/poc.png' %}" alt="plentyofcats"></p>
        </footer>

    </section>

    <div class="clear"></div>

</section>


</body>
</html>
