
{% load static %}
<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Your one stop destination to get laid</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>

<body>

<section id="body" class="width">
    <aside id="sidebar" class="column-left">

        <header>
            <h1><a id="indexpage">PlentyofCats</a></h1>

            <h2>Share what you want!</h2>

        </header>

        <nav id="mainnav">
            <ul>
                 <li><a id="postad" >Post an AD</a></li>
                <li><a id="menseekingwomen">Men seeking Women</a></li>
                <li><a id="menseekingmen">Men seeking Men</a></li>
                <li><a id="womenseekingmen">Women seeking Men</a></li>
                <li><a id="womenseekingwomen">Women seeking Women</a></li>
                <li><a id="contactme">Contact me!</a></li>

            </ul>
        </nav>



    </aside>
    <section id="content" class="column-right">

<label style="margin-left: 10em;font-size: xx-large">Contact Me</label><br><br>
        <p><strong>I(the developer of this site) made this site because I was tired of the ridiculous business model of most dating sites. Memberships,Personal information and other ads etc etc
        bullshit really pisses me. My purpose of building this site was to make dating anonymous,simple and free. If you like my site then feel free to leave a comment or suggestions.
            Thanks
        </strong>    </p>
    <form method="post" enctype="multipart/form-data" onsubmit="return validateForm()" name="Form">
    {% csrf_token %}
        <div class="content">


                        <div>
                            <input id="email" style=" width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;" name="email" placeholder="Enter your email" type="email" spellcheck="false" value="" maxlength="255" tabindex="3">
                        </div>
            <br><br>

                      <div>
                            <textarea id="description" name="description" placeholder="Enter your feedback" spellcheck="true" rows="10" cols="50" tabindex="4" style="width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;"></textarea>
                        </div>


                        <br><br>

            <div>



            </div>
                        <div>
                            <input type="submit" value="Post Reply" style="background: transparent;color: #0099CC;border: 2px solid #0099CC;border-radius: 6px;border-radius: 6px;
"></input>
                        </div>

        </div>
    </form>


    <script

  src="https://code.jquery.com/jquery-1.12.4.js"></script>


<script type="text/javascript">

    $('#document').ready(function (e) {
             var siteWidth = 1280;
var scale = screen.width /siteWidth

document.querySelector('meta[name="viewport"]').setAttribute('content', 'width='+siteWidth+', initial-scale='+scale+'');


    })



    function validateForm()
    {
        console.log('Entered form')
        var b=document.forms["Form"]["description"].value;
        var c=document.forms["Form"]["email"].value;

        if (b==null || b=="",c==null || c=="")
        {


            alert("Please Fill All Required Field");
            return false;
        }


            else{

                alert('Thank you for the feedback');
            }










    }

    var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
            content.style.display = "none";
        } else {
            content.style.display = "block";
        }
    });
}
     $('#postad').click(function (e) {
             e.preventDefault()

             window.location.href="/plentyofcats/index"

         })

      $('#indexpage').click(function (e) {
             e.preventDefault()

             window.location.href="/plentyofcats/usa"

         })

     $('#menseekingwomen').click(function (e) {
             e.preventDefault()

             window.location.href="/plentyofcats/menseekingwomenus/"

         })

     $('#menseekingmen').click(function (e) {
             e.preventDefault()

             window.location.href="/plentyofcats/menseekingmenus/"

         })

     $('#womenseekingmen').click(function (e) {
             e.preventDefault()

             window.location.href="/plentyofcats/womenseekingmenus"

         })

     $('#womenseekingwomen').click(function (e) {
             e.preventDefault()

             window.location.href="/plentyofcats/womenseekingwomenus"

         })

    $('#contactme').click(function (e) {
             e.preventDefault()

             window.location.href="/plentyofcats/submitfeedback"

         })


</script>




        <footer class="clear">
            <p>&copy; 2018 PlentyofCats by Anonymous <img src="{% static 'img/poc.png' %}" alt="plentyofcats"></p>
        </footer>

    </section>

    <div class="clear"></div>

</section>


</body>
</html>
